<footer class="footer">
    <div class="separator-line"></div>
  <div class="footer-content">
    <div class="footer-column">
      <h3>Help</h3>
      <ul>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>Legal stuff</h3>
      <ul>
        <li><a href="#">Privacy policy</a></li>
        <li><a href="#">Terms & conditions</a></li>
        <li><a href="#">Cookie policy</a></li>
        <li><a href="#">Gift cards</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>Follow us</h3>
      <ul>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
      </ul>
    </div>
  </div>
<div class="rainbow-overlap">
  <img src="assets/img/logo_slash.svg" alt="Rainbow Stripes" >
</div>
</footer>