.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.text-wrap {
    white-space: pre-wrap;
    word-break: break-word;
    max-width: 500px;
}